body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-button {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.link-button:hover {
  background-color: #0056b3;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

input, select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form-control {
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex-grow: 1;
  margin-right: 10px;
}

.navbar {
  display: block;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: #9e1f1f;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; 
}

.form-wrapper form {
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-wrapper form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-wrapper form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-wrapper form button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-wrapper form button:hover {
  background-color: #0056b3;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;  
}

.search-bar button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}


.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px; 
}

.search-input {
  width: 70%; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; 
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.player-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.player-details h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.player-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.player-details p {
  font-size: 18px;
  margin: 10px 0;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.delete-button {
  background-color: #f44336; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.delete-button:hover {
  background-color: #da190b;
  color: white;
}
